/*// teal - #269A9F
// charcoal - #393e44
// dg-coral - #ffbf8c
// dg-pink - #ff0066
*/

* {
	font-family: 'Raleway', sans-serif;
}
div {
    overflow-x: hidden;
}
.main-body.container-fluid {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.row {
	margin: 0;
}
.header {
	background-color: #fff;
}

.header .tagline{
	background-color: #393e44;
	color: #fff;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tagline p {
	width: 300px;
	font-size: 20px;
	font-weight: 200;
}

.header #logo {
	height: 140px;
	margin: 35px auto;
}

.color-shift {
	width: 100%;
  background-color: #ffbf8c;
}



.quote-box {
	background-color: #fff;
	padding: 40px 60px;
	width: 94%;
	margin: 2% 3%;
	text-align: center;
}

.quote p,
.quote p strong {
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
}
.about-me {
	width:90%;
	padding: 5% 5%;
}
.about-me h3 {
	font-weight: 700;
}
.about-me img {
	max-height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.videos {
	background-color: #393e44;
	padding-bottom: 30px;
}

.videos iframe {
	width: 90%;
	margin: 4% 10%;
}

@media screen and (max-width: 768px) {
	.videos iframe {
		margin: 4% 5%;
		height: 200px;
	}
	.tagline p {
		width: 160px;
		font-size: 20px;
		font-weight: 200;
	}
}


@media screen and (max-width: 575px) {
	.tagline p {
    width: 200px;
    font-size: 22px;
  }
    .quote-box {
    width: 88%;
    margin: 6% 7%;
 		}
 		.row.about-me {
 			display: flex;
 			flex-direction: column-reverse;
 			padding-right: 0;
 			width: 96%;
 			margin-left: 2%;
 			margin-right: 2%;
 		}
 		.row.about-me img {
 			margin: 30px auto;
 		}
 		.row.about-me .write-up,
 		.row.about-me .picture{
 			padding: 0;
 		}
 		.picture {
 			text-align: center !important;
 		}
 }